#contenedor {
  width: 100%;
  height: 700px;
  background-color: #cff5ad;
}
#encabezado {
  width: 100%;
  height: 20%;
  padding-top: 10px;
  position: fixed;
  background-color: rgb(255, 254, 254);
  z-index: 999;}


#social1 {
  width: 100%;
  float: right botton;
  text-align: right;
  padding-right: 10px;
  background-color: rgb(255, 254, 254);
}

#about {
  height: auto;
  padding:220px 35px 80px 35px;
}
#mision {
  height: auto;
  padding: 0x;
}
#sectionTeam{
  padding: 110px 25px;
}

#nsServicios {
  padding: 25px;
}
#contacto {
  height: auto;
  padding: 25px;
}

.maincss {
  background-color: #cff5ad;
}
.color1 {
  color: #000099;
}
.color2 {
  color: #99cc33;
}
li {
  list-style: none;
}







